html, body {
	height: 100%;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select:none;
    user-select: none;
    cursor: default;
}

aside {
    width : 350px;
    height: calc(100% - 30px);
    float: left;
}

.center {
    display: inline-block;
    position: absolute;
    left: calc(50% - 425px);
}

.navbar {
    width : 100%;
    height: 30px;
    margin-bottom: 0;
    text-align: center;
}

.navbar .navbar-inner a {
    float: none;
}

.date {
    padding-top: 65px;
    margin-bottom: 35px;
    text-align: center;
}

.date span {
    font-size: 10em;
}

.calendar.container {
    padding-left: 50px;
	width : 300px;
}

.student-list {
    width: 500px;
    max-width: 500px;
    margin-top: 30px;
    display: inline-block;
}

.span4.modification {
    width : 240px;
}

.calendar TH {
    font-size: 1.3em;
}

.calendar TD, TD.day {
    font-size: 18px;
    width: 35px;
    height: 30px;
}

.month {
    font-size: 1.5em;
}

.hidden-student-id {
    display: none;
}

.table tbody tr td {
	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
    width: 500px;
    max-width: 500px;
}

.table tbody tr td span {
    display: inline-block;
    max-width: 450px;
    overflow: hidden;
}

.table tbody tr td input {
    display:  none;
}

.table tbody tr td i {
    visibility: hidden;
    float: right;
}

.table tbody tr:hover td i {
    visibility: visible;
}

.table tbody tr td.edit-mode .icon-edit {
    display: none;
}

.table tbody tr td.edit-mode input {
    display: inline-block;
}

.table tbody tr td.edit-mode span {
    display: none;
}

.table tbody tr.new-student td input {
    display: block;
}